@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 


  .garis{
    border-bottom: 2px solid cornsilk;
   
  }

 
  .navbar{
    z-index: 9999999999;
  }
  .navbar-brand{
    font-family: 'Noto Sans JP', sans-serif; color: whitesmoke !important; 
    font-size: 16px;
    transition: all 0.4s ease-in-out;
  }

  .navbar-brand:hover{
    font-family: 'Noto Sans JP', sans-serif; color: rgb(255, 255, 255) !important; 
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    transform: scale(1.2);
    
  }

  .nav-link{
    font-family: 'Noto Sans JP', sans-serif; color: whitesmoke !important;
    font-size: 16px;
    transition: all 0.2s ease-in-out !important;
  }

  
  .nav-link:hover{
    font-family: 'Noto Sans JP', sans-serif; color: #000 !important; 
    content: '';
    background: rgba(255, 255, 255, 0.7) !important;
    
    transition: all 0.2s ease-in-out !important;
  }

  .borderhome.active {
    font-family: 'Noto Sans JP', sans-serif; color: #000 !important; 
    content: '';
    background: rgba(255, 255, 255, 0.7) !important;
    transition: all 0.2s ease-in-out !important;
  }

  .borderabout.active {
    font-family: 'Noto Sans JP', sans-serif; color: #000 !important; 
    content: '';
    background: rgba(255, 255, 255, 0.7) !important;
    transition: all 0.2s ease-in-out !important;
  }
    

  .borderservices.active {
    font-family: 'Noto Sans JP', sans-serif; color: #000 !important; 
    content: '';
    background: rgba(255, 255, 255, 0.7) !important;
    transition: all 0.2s ease-in-out !important;
  }
    

  .borderprices.active {
    font-family: 'Noto Sans JP', sans-serif; color: #000 !important; 
    content: '';
    background: rgba(255, 255, 255, 0.7) !important;
    transition: all 0.2s ease-in-out !important;
  }
    
  .bordercontact.active {
    font-family: 'Noto Sans JP', sans-serif; color: #000 !important; 
    content: '';
    background: rgba(255, 255, 255, 0.7) !important;
    transition: all 0.2s ease-in-out !important;
  }
    
    
  
  #aboutus, #harga, #services{
    color: rgb(42, 42, 46);
  }

  .text-utama{
    font-family: 'Noto Sans JP', sans-serif; color: whitesmoke !important; 
    
  }

  .text-utama{
    font-family: 'Noto Sans JP', sans-serif; color: black !important; 
    
  }

  .box{
    background-color: white;
    
  }
  
  
  #testimonial    .container{
    margin-top: 4%;
}

#testimonial .img-text{
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background: #262626;
    color: #fff;
    border-radius: 15px;
}

#testimonial .img-text h2{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#testimonial .img-text p{
    font-size: 14px;
}

#testimonial .single-box{
    position: relative;
    margin-bottom: 30px;
}

#testimonial .img-area{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    overflow: hidden;
    top: 15px;
    left: 125px;
    border-radius: 50%;
}

#testimonial .img-area img{
    width: 100%;
}

#testimonial .carousel-indicators{
    left: 0;
    top: auto;
    bottom: -20px;
}

#testimonial .carousel-indicators li{
    background: #000;
    border-radius: 50%;
    width: 20px;
    height: 0px;
}
#testimonial .carousel-indicators .active{
    background: rgb(71, 71, 71);
}

.form-control{
    
   border-color:rgb(172, 172, 172); 
   
   
  }


.form-control:focus{ 
 
  border-color:#006d75;
  
  }


.main-btn{ 
  background:#ffffff; 
  color:rgb(2, 124, 133);
  }

.main-btn:hover{ 
  background:rgb(91, 132, 134);
  color:#fff;
  }


    
  


.icon-aing{
  font-size: 3rem; color: ghostwhite;
  transition: all 0.2s ease-in-out !important;
}

.icon-aing:hover{
  font-size: 3rem; color: rgb(168, 168, 228);
  transition: all 0.2s ease-in-out !important;
  
}

.box-sign {
  font-family: 'Poppins', sans-serif;
  margin-top: 60px;
  padding: 36px 15px 0 120px;
  position: relative;
}

.box-sign img {
  position: absolute;
  left: 0;
  top: 0;
}

.box-sign b {
  font-weight: 800;
  font-size: 16px;
}

.box-sign span {
  display: block;
  line-height: 15px;
}
    
.shadowtext {
  text-shadow:  0px 3px 3px rgba(0, 0, 0, 0.267);
}
.card:hover{
box-shadow: 3px 15px 10px 5px rgba(0, 0, 0, 0.103) !important;
transform:scale(1);
top: -7px;
}
#services .card:hover > .card-img-top {
 
  filter: brightness(70%);
}

.card, .card-img-top{
  position: relative;
  top: 0;
  
  filter: brightness(100%);
    transition: all ease-in-out 0.4s;
}
.card-img-top{
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.103) !important;
}



  

#tech .card{
  font-family: 'Poppins', sans-serif;
  font-size: medium;
  font-weight: 500;
}
#tech .card:hover{
  background-color: blue;
  color: white;
}



.display-1,
.display-2,
.display-3,
.display-4,
.text-pilihanque,
.btn,
.card-title,
.card-subtitle{

font-family: 'Poppins', sans-serif !important;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 300px) {
  .hed-text { font-size: 30px; }
  .carousel-caption { margin-bottom: 4%;}
  .logo-hedset{
    font-size: 100px; color: rgb(250, 250, 250);
    text-align: center;}
  
  #carouselOjak .carousel-inner .carousel-item .carousel-caption p {
    font-size: 0px;
  }
  .logo-footer{
    width: 100px;
  
}
  #tech .card{
    width: 200px;
  
  }

  .tech-text{
    font-size: 32px;
  }

.copy-text{
  font-size: xx-small;
}
.cotajg{
 
  margin-top: 0% !important;
 
  z-index: 99999;
}
}
.knp-pilih-kita{
  margin-top: -10% !important;
}
.logo-navbar{
  width: 50px;
}
@media (min-width: 700px) {
  .hed-text { font-size: 60px; }
  .carousel-caption { margin-bottom: 10%;}
  .card-deck {width: fit-content !important;}
}
.icon-aing{
  font-size: 1.5rem; color: ghostwhite;
  transition: all 0.2s ease-in-out !important;
}

.icon-aing:hover{
  font-size: 1.5rem; color: rgb(168, 168, 228);
  transition: all 0.2s ease-in-out !important;
  
}
.text-footer{
  font-size: 16px !important;
}

.garis{
  width: 200px;
}

#tech .card{
  width: 150px;

}


.cotajg{
 
  margin-top: -25% !important;

  z-index: 99999;
}

.knp-pilih-kita{
  margin-top: -16% !important;
}
.logo-navbar{
  width: 120px;
}




@media (min-width: 1366px) {
  .hed-text { font-size: 90px; }
  .carousel-caption { margin-bottom: 18%;}
  .logo-hedset{
    font-size: 500px; color: rgb(250, 250, 250);
    margin-left: -2%;
  }
  .icon-aing{
    font-size: 3rem; color: ghostwhite;
    transition: all 0.2s ease-in-out !important;
  }
  
  #carouselOjak .carousel-inner .carousel-item .carousel-caption p {
    font-size: large;
  }
  .icon-aing:hover{
    font-size: 3rem; color: rgb(168, 168, 228);
    transition: all 0.2s ease-in-out !important;
    
  }
  .text-footer{
    font-size: 16px !important;
  }
  
  .garis{
    width: 320px;
  }
  .logo-footer{
    width: 250px;
  }
  .tech-text{
    font-size: 50px;
  }
}
@media (min-width: 1920px) {
  .hed-text { font-size: 120px; }
  .logo-hedset{
    font-size: 500px; color: rgb(250, 250, 250);
  }
}